@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  padding: 1rem;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-gray-700 font-light mt-5;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none 
         bg-blue-800 hover:bg-blue-900 transition-all duration-300 ease-in-out
         disabled:opacity-50 disabled:cursor-not-allowed
         active:scale-95 text-base font-semibold;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}
.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

